.header-main {
  color: var(--white);
  background: linear-gradient(0, rgba(0, 0, 0, 0) 39%, var(--main) 0%);
  text-align: center;
  padding: 3rem 0 0;
}

.nav-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-main a {
  color: var(--white);
  background: var(--secondary);
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  border-radius: var(--borderRadius);
  text-decoration: none;
  font-size: 1.2rem;
  justify-content: center;
  padding: 1.5rem 0;
}

.nav-main a span {
  padding: 0 0.5rem;
}

.nav-main a.tab-active {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 5px solid var(--highlight);
}
.nav-main a:hover {
  background: var(--highlight);
  transition: background-color 0.2s;
}

@media screen and (min-width: 768px) {
  .header-main {
    background: linear-gradient(0, rgba(0, 0, 0, 0) 19%, var(--main) 0%);
    padding-bottom: 1.5rem;
  }
  .nav-main {
    flex-direction: row;
  }
  .nav-main a {
    margin: 0 0.5rem;
    flex: 1;
    flex-direction: column;
  }
  .nav-main svg {
    width: 60px;
    height: 60px;
    margin-bottom: 0.5rem;
  }
}

.footer-main {
  padding: 3rem 0;
  background: var(--main);
  margin-top: 4.5rem;
}

.footer-main p {
  color: var(--white);
  margin: 0;
}
